body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 25px;
}

#search {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.input {
  width: 100%;
  max-width: 220px;
  height: 20px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

.search__btn {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
.container {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}
h1 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #333;
}

.cidade {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.temperatura {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0077b6;
  margin: 15px 0;
}

.condicao {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 15px;
}

.icone {
  width: 80px;
  height: 80px;
}
